.fade-enter {
  opacity: 0.5;
}
.fade-exit {
  opacity: 0.5;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 1;
}
.fade-enter-active {
  transition: opacity 100ms;
}
.fade-exit-active {
  transition: opacity 100ms;
}
