/* .fade-enter {
  opacity: 0;
  height: 0%;
  transition: 0.05s;
}
.fade-exit {
  opacity: 0.1;
  height: 80%;
  transition: 0.05s;
}
.fade-enter-active {
  opacity: 1;
  height: 80%;
  transition: 0.05s;
}
.fade-exit-active {
  opacity: 0;
  height: 0%;
  transition: 0.05s;
} */
.fadea-appear,
.fadea-enter {
  opacity: 0;
  z-index: 1;
}
.fadea-appear-active,
.fadea-enter.fadea-enter-active {
  opacity: 1;
  transition: opacity 450ms linear 250ms;
}
.fadea-exit {
  opacity: 1;
}
.fadea-exit.fadea-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}
